body{
    background-color: rgba(127, 194, 199, 0.7);
    background-attachment: fixed;
    display: flex;              
    flex-direction: column;       
    justify-content: center;    
    align-items: center; 
}

div{
    width: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    border: 5px solid white;
    border-radius: 2.5rem;
    display: flex;              
    flex-direction: column;       
    justify-content: center;    
    align-items: center; 
}

a{
    top: 61.27%;
    left: 58%;
    position: absolute;
    background-color: rgba(127, 194, 199, 0.7);
    color: white;
    border: 1px solid rgba(127, 194, 199, 0.7);
    border-top-left-radius: 2em;
    border-top-right-radius: 2rem;
    display: flex;
    width: 180px;
    height: 45px;
}

textarea{
    width: 400px;
    border-color: rgb(189, 189, 189);
    border-radius: 1.5rem;

}

textarea:focus{
    outline: none;
    border-color: rgba(127, 194, 199, 0.7);

}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-size-adjust: 50%;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 1.5rem;
    border-color: rgba(127, 194, 199, 0.7);
    background-color: rgba(127, 194, 199, 0.7);
}

h4{
    color: grey
}